.Education {
    border-bottom: 2px dashed white;
}

.EducationBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid rebeccapurple;
    margin: 5px;
}