.AboutMeBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AboutMeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 20px;
}