@import "/./src/Styles/Variables/Colors";

.TopBar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
}

.LogoPicture {
  width: 75x;
  height: 75px;
  border-radius: 100%;
}

.NavBarList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  font-size: 20px;
}

.NavBarListElement {
  list-style-type: none;
  margin: 10px;
}

.NavBarLine {
  width: 10px; /* Width of the vertical line */
  background-color: #333; /* Color of the vertical line */
}

.NavBarLine li:last-child {
  border-bottom: none;
}