.NavBar {
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border-right: 1px solid black;
}

.NavBar-list {
  list-style-type: none;
  padding: 10px;
}

.NavBarListElement {
  margin: 20px 0;
  font-size: 1.5em;
  :hover {
    background-color: lightgray;
  }
}

.NavBarListElement a {
  text-decoration: none;
  color: black;
}