.LandingPageBox {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 0.5fr repeat(5, 1fr) 0.5fr;
  grid-template-rows: 0.5fr repeat(5, 1fr) 0.5fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #9DACB2;
}

.LandigPageInitials {
  grid-area: 1/ 2/ 2/ 4;
  display: flex;
  font-size: 20px;
}

.LandingPageNavigation {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1/ 5/ 2/ 7;
}

.Name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: 'Mate', serif;
}

.Profesion {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #9DACB2; // Background color of the container
}

.circle {
  width: 100px;
  height: 100px;
  background-color: #ff6347; // Different color for the circle
  border-radius: 50%;
}
